{% extends 'base.html' %}

{% block content %}
  {% if error %}
    <br />
    {{error}} 
    <br />
  {% endif %}

  <br />
  <h2>Log In</h2>

  <form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    <label for="username">Username:</label>
    <br />
    <input type="text" id="username" name="username" />
    <br />
    <label for="password">Password:</label>
    <br />
    <input type="password" id="password" name="password" />
    <br />
    <br />
    <input class="btn btn-primary" type="submit" value="Log In" />
  </form>

{% endblock %}
